<form action = "/process_umbrella" method = "post">
  <label for = "text"> You: </label>
  <input id = "text" type= "text" name="messahe" placeholder = "Enter a message...">
  <button>Send</button>
</form>

<hr>

<button>Clear chat history</button>
