<h1>Should I take am umbrella?</h1>

<form action = "/process_umbrella" method = "post">
  <label for = "loc"> Where are you located?</label>
  <input id = "loc" type= "text" name="user_location">
  <button>Submit</button>
</form>
